.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f1f3f3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SignupPage {

  padding: auto;
  border: 1px solid red;
  width:45%;
  height: auto;
  border-style: double #f55a00 1vw;
  margin-left:auto;
  margin-right:auto;
  align-content: center;
  margin-top: -50px;
 
}

.SignupPage h2 {
  font-size: 25px;
  color: #f55a00;
  margin-top: -1px;

}

.SignupPage button {
  color: red;
  cursor: pointer;
  border-color: rgb(243, 239, 239);
  position: relative;
  
}

.SignupPage input textarea {
  border-color: rgb(243, 239, 239);
  position: relative;
  display: flex;

}

.CreatePage {
  padding: 0;
  height: 1vh;
  color: #f55a00;
  border-style: double #f55a00 1vw;
  margin-left: auto;
  margin-right: 200px;
  margin-top: -170px;
  margin-bottom: 6vh;
  padding: 5vw;
  position: center;
  display: flex;
}

.CreatePage button {
  color: red;
  cursor: pointer;
  border-color: rgb(243, 239, 239);
  display: flex;
  margin-left: 50px;
  margin-bottom: -11vh;
  position: relative;
}

.CreatePage h3 {
  color: red;
  cursor: pointer;
  border-color: rgb(243, 239, 239);
  display: flex;
  margin-left: -80px;
  margin-bottom: 5.6vh;
  position: relative;
}


.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.list button {
  color: rgb(131, 130, 130);
  cursor: pointer;
  border-color: rgb(243, 239, 239);
  display: flex;
  margin-left: 100px;

}

.image5 {
  size: 10%;
  display: flex;
}



.Video {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  margin-top: 250px;
}

.ProfilePage {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
  min-width: 1%;
  height: 70vh;
  border-style: double #f55a00 1vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: -7vw;
  padding: 5vw;
  overflow: auto;
  display: flex;
  
}

.ProfilePage h2 {
  text-align: center;
  color: #f55a00;
  margin-top: -4vw;
  display: flex;
}

.ProfilePage button {
  color: red;
  cursor: pointer;
  border-color: rgb(243, 239, 239);
  display: flex;
}


.ProfilePageH3 {

  font-size: 18px;
  font-style: italic;
  text-decoration:underline;
  display: flex;
 
}

.comments {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
